/* Đảm bảo các phần tử hiển thị đúng */
#employee-page, #manager-page, #login-page {
  display: block;
}

.hidden {
  display: none;
}

#inventory-list, #report-table {
  width: 100%;
}

.export-quantity {
  display: inline-block;
  width: 100px;
}

#report-filter {
  width: 150px;
}
